.sidebar {
    position: fixed;
    left: -80%;
    top: 0;
    width: 60%;
    height: 100vh;
    z-index: 9999;
    transition: left 0.5s ease, opacity 0.5s ease, box-shadow 0.5s ease;
    opacity: 0;
    overflow: hidden;
    border-radius: var(--radius-md);
    background: linear-gradient(to bottom, rgba(51, 125, 128, 1), var(--primary-color)) border-box;
    border: 3px solid transparent;

    .sidebar_container {
        width: 100%;
        height: 100%;
        background: var(--background-color2);
        padding: 1.3rem;
        padding-top: 1.72rem;
        border-radius: var(--radius-sm);
    }

    @media (max-width: 450px) {
        width: 65%;
    }

    @media (max-width: 350px) {
        width: 80%;
    }
}


.sidebar.open_sidebar {
    left: 0;
    opacity: 1;
    box-shadow: -2px 0 8px 4px rgba(0, 0, 0, 0.1);
}

.sidebar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    .logo>img {
        width: 40px;
        height: auto;
    }
}

.close_icon {
    width: 25px;
    height: 25px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s;
}

.mobile_navlinks {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .navlink {
        font-weight: 500;
        transition: all 0.3s;
        font-weight: 500;
    }

    .gradient_border {
        width: 55%;
        height: 1px;
        transition: all 0.3s;
    }

    .navlink:hover {
        .gradient_border {
            border-bottom: 1px solid;
            border-image-slice: 1;
            border-width: 1px;
            border-image-source: linear-gradient(to right, var(--primary-color), var(--transparent-white));
        }
    }

    .gradient_border.active {
        border-bottom: 1px solid;
        border-image-slice: 1;
        border-width: 1px;
        border-image-source: linear-gradient(to right, var(--primary-color), var(--transparent-white));
    }

    @media (max-width: 600px) {
        .gradient_border {
            width: 80%;
        }
    }
}