.navbar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo>img {
    width: 110px;
    height: auto;
}

.navlinks {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navlink {
    color: var(--secondary-text);
    padding-bottom: 5px;
    font-size: 14px;
    transition: color 0.3s, border-bottom 0.3s;

    &:hover {
        color: #e3f5fc;
        border-bottom: 1px solid;
        border-image-slice: 1;
        border-width: 1px;
        border-image-source: linear-gradient(to right, var(--primary-color), var(--transparent-white));
    }
}

.contact_btn{
    cursor: pointer;
}

.menu_nav_right {
    display: none;
}

.navbar_right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 950px) {
    .navlinks {
        display: none;
    }

    .menu_nav_right {
        display: block;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .menu_icon {
        display: block;
        width: 35px;
        height: 35px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s;
    }
    .navbar{
        height: 80px;
    }
    .navbar_right{
        display: none;
    }
    .logo > img{
        width: 80px;
    }
}