.footer {
    padding-top: 5rem;
    padding-bottom: 0.5rem;
    position: relative;
    @media (max-width: 500px) {
        padding-top: 4rem;
    }
}
.footer_container{
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

.footer_row1 {
    display: flex;
    row-gap: 3rem;
    column-gap: 8rem;
    color: white;
    flex-wrap: wrap;
}

.company_info {
    >p {
        margin-top: 1rem;
        font-size: 14px;
        white-space: nowrap;
        line-height: 1.7;
        color: var(--text);
    }

    @media (max-width: 330px) {
        >p {
            font-size: 12px;
            width: 100%;
            white-space: initial;
        }
    }
    @media (max-width: 330px) {
        >p br{
            display: none;
        }
    }
}

.logo {
    >img {
        width: 90px;
        height: auto;
    }
    @media (max-width: 600px) {
        >img{
            width: 80px;
        }
    }
}

.footer_row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;

    .copy_right {
        color: #CBCBCB;
        font-size: 14px;
        line-height: 1.7;
    }

    .social_links {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;

        .social_link {
            width: 40px;
            height: 40px;
            background: rgba(255, 255, 255, 0.17);
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 999;
        }
    }
    @media (max-width: 480px) {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    @media (max-width: 330px) {
        .copy_right{
            font-size: 12px;
        }
    }
}