.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  list-style: none;
  background: rgba(255, 255, 255, 0.14);
  width: fit-content;
  padding: 0.9rem 1.4rem;
  border-radius: 35px;

  .item {
    font-size: 12px;

    a {
      color: var(--white);
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: rgb(51, 187, 207);
      }
    }

    .label {
      color: rgb(51, 187, 207);
    }
    .separator{
      padding: 0 0.4rem;
    }
  }
}