.table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid red;
}

.table td,
.table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table td{
    font-weight: 600;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}