.card {
    border-radius: var(--radius-lg);
    cursor: pointer;
    position: relative;

    @media (max-width: 500px) {
        border-radius: var(--radius-md);
    }
}

.card:hover {
    .card_img {
        scale: 1.05;
    }

    .card_text {
        background: rgba(0, 0, 0, 0.4);
    }
}

.card_img_container {
    width: 100%;
    padding-top: calc(178 / 654 * 100%);
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-lg);
}

.card_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius-lg);
    transition: scale 0.8s ease-in-out;
}

.card_img2 {
    display: none;
}

.card_img_container {
    @media (max-width: 700px) {
        padding-top: calc(300 / 720 * 100%);

        .card_img1 {
            display: none;
        }

        .card_img2 {
            display: block;
            object-fit: cover;
        }
    }

    @media (max-width: 500px) {
        padding-top: calc(330 / 720 * 100%);
        border-radius: var(--radius-md);

        .card_img {
            border-radius: var(--radius-md);
        }
    }

    @media (max-width: 400px) {
        padding-top: calc(350 / 720 * 100%);
    }
}


.card_text {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 2rem 1rem 1rem 2rem;
    border-radius: var(--radius-lg);
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.8s ease-in-out;

    >h1 {
        font-size: 3rem;
        font-weight: 400;
        font-family: League-Gothic;
    }

    >p {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.6;
        color: var(--text);
        margin-top: 1rem;
    }

    @media (max-width: 1100px) {
        padding-top: 1rem;
    }

    @media (max-width: 900px) {
        >p {
            margin-top: 0.3rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;

            span br {
                display: none;
            }
        }

        >h1 {
            font-size: 2.5rem;
        }
    }

    @media (max-width: 700px) {
        // padding-top: 0rem;
        padding-left: 1.5rem;

        >h1 {
            font-size: 2rem;
        }
    }

    @media (max-width: 650px) {
        padding-top: 0.5rem;
        padding-left: 1rem;

        // >p {
        //     // margin-top: 0;
        //     font-size: 12px;
        // }
    }

    @media (max-width: 520px) {
        padding-top: 0.7rem;
        padding-left: 1rem;

        p {
            -webkit-line-clamp: 2;
        }

        // >p {
        //     font-size: 10px;
        //     line-height: 1.5;
        // }
    }

    @media (max-width: 440px) {
        // >h1 {
        //     font-size: 1.8rem;
        // }

        // >p {
        //     font-size: 10px;
        //     line-height: 1.3;

        //     br {
        //         display: none;
        //     }
        // }
    }

    // @media (max-width: 380px) {
    //     padding-top: 0.3rem;

    //     >h1 {
    //         font-size: 1.5rem;
    //     }

    //     >p {
    //         font-size: 9px;
    //     }
    // }

    // @media (max-width: 320px) {
    //     >h1 {
    //         font-size: 1.2rem;
    //     }

    //     >p {
    //         font-size: 8px;
    //     }
    // }
}

.dots {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-20%, -50%);
    z-index: -99;

    @media (max-width: 500px) {
        width: 40px;
        height: 18px;
    }

    @media (max-width: 380px) {
        width: 35px;
        height: 15px;
    }
}