.horizontal_divider {
    text-align: center;
    margin: 3rem 0;

    >img {
        max-width: 400px;
    }

    @media (max-width: 500px) {
        >img {
            width: 100%;
        }
    }
}

.service_benefits_wrapper {
    >h3 {
        text-align: center;
        font-weight: 500;
        margin-bottom: 1rem;
    }
}

.benefits {
    max-width: 50rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.benefits_left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;

    >div {
        display: flex;
        align-items: center;
        gap: 1rem;

        .check_icon {
            width: 18px;
            height: 18px;
            background: var(--primary-color2);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            >svg {
                width: 12px;
                height: 12px;
            }
        }

        .benefit {
            color: white;
        }
    }
}
.benefits_right{
    padding-top: 2rem;
    padding-left: 2rem;
    .service_description{
        color: var(--text);
        line-height: 1.7;
    }
}
.gradient_divider {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    width: 1px;
    height: 110%;
    background: linear-gradient(var(--transparent-white), var(--primary-color));
}

@media (max-width: 730px) {
    .benefits{
        grid-template-columns: 1fr;
    }
    .benefits_left{
        padding-top: 0;
    }
    .benefits_right{
        padding-left: 0;
    }
    .gradient_divider{
        display: none;
    }
}

@media (max-width: 600px) {
    .benefits_right .service_description{
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .benefits_right .service_description{
        font-size: 13px;
    }
}