/* globals.css */

:root {
  --max-width: 120rem;

  --primary-color: rgba(92, 225, 230, 1);
  --text: rgba(255, 255, 255, 0.79);
  --secondary-text: #D9F6FF;
  --black: #081519;
  --white: #fff;
  ---background-color: #131313;
  /* border radius */
  --radius-md: 11px;
  --radius-lg: 18px;
  --radius-xl: 20px;
  /* shadows */
  /* --shadow-lg: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  --shadow-sm: 0px 4px 8px 0px rgba(0, 0, 0, 0.07); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-feature-settings: "clig" off, "liga" off;
}

@font-face {
  font-family: League-Gothic;
  src: url("/fonts/leagueGothic-regular.ttf");
}

@font-face {
  font-family: Poppins-Regular;
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("/fonts/Poppins/Poppins-SemiBoldr.ttf");
}

body {
  background: var(---background-color);
}

.ellipse-bg {
  z-index: -999;

  >img {
    z-index: -999;
  }
}

.container {
  width: 90%;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.text_gradient {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border_gradient {
  background: linear-gradient(to bottom, transparent, var(--primary-color)) border-box;
  border-radius: var(--radius-lg);
  border: 2px solid transparent;
  transition: border-color 0.8s ease;
}

.border_gradient:hover {
  border-color: var(--primary-color);
}

.primary_btn {
  padding: 8px 15px;
  border-radius: var(--radius-xl);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
  color: var(--black);
  font-weight: 500;
}


.top_ellipse_bg {
  width: 60%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -9999;
  background: rgba(84, 214, 255, 1);
  filter: blur(10rem);
}

.bottom_ellipse_bg {
  width: 70%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 45%;
  transform: translateX(-50%);
  background: rgba(84, 214, 255, 1);
  z-index: -9999;
  filter: blur(9rem);
}

.right_ellipse_bg {
  width: 400px;
  height: 900px;
  position: absolute;
  margin-top: 50rem;
  right: 0;
  z-index: -9999;
  background: rgba(5, 0, 255, 1);
  filter: blur(23rem);

  @media (max-width: 2500px) {
    width: 200px;
    height: 422px;
    filter: blur(15rem);
  }

  @media (max-width: 900px) {
    width: 30%;
  }
}

.left_ellipse_bg {
  width: 20%;
  height: 900px;
  position: absolute;
  margin-top: 95rem;
  left: 0;
  z-index: -9999;
  background: rgba(84, 214, 255, 1);
  filter: blur(30rem);

  @media (max-width: 2500px) {
    width: 150px;
    height: 414px;
    filter: blur(11rem);
  }

  @media (max-width: 900px) {
    width: 20%;
  }
}

/* testimonials dots */
.dots-style1 {
  list-style: none;
  display: flex !important;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 1.3rem;
  gap: 0.4rem;
}

.dots-style1 li {
  cursor: pointer;
  border-radius: 99px;
  width: 0.6rem;
  height: 0.6rem;
  background: #333333;
}

.dots-style1 .slick-active {
  background: var(--primary-color);
}

.dots-style1 li button {
  cursor: pointer;
  opacity: 0;
}