.recent_works_container {
    max-width: 70rem;
    margin: 0 auto;
    margin-bottom: 7rem;
}

.heading {
    font-weight: 500;
    text-align: center;
}

.description {
    color: var(--text);
    line-height: 1.7;
    text-align: center;
    margin: 1.5rem 0;
}

.recent_works {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.card {
    border-radius: var(--radius-md);
    cursor: pointer;
    position: relative;
    transition: all 0.8s ease;

    &:hover {
        transform: scale(1.02);
    }

    .card_img_container {
        width: 100%;
        height: 100%;
        position: relative;
        // padding-top: calc(185 / 198 * 100%);
        padding-top: calc(1400 / 1920 * 100%);
    }

    .card_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--radius-md)
    }
}

.card_text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    padding-bottom: 0.5rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.8));
    border-bottom-left-radius: var(--radius-md);
    border-bottom-right-radius: var(--radius-md);

    .card_title {
        font-family: League-Gothic;
        color: var(--white);
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 900px) {
    .description>br {
        display: none;
    }

    .recent_works {
        gap: 1.5rem;
    }
}

@media (max-width: 750px) {
    .recent_works {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

@media (max-width: 550px) {
    .recent_works {
        gap: 1.5rem;
    }
    .description{
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .recent_works {
        column-gap: 1rem;
        row-gap: 1.5rem;
    }
}
@media (max-width: 350px) {
    .recent_works {
        grid-template-columns: 1fr;
    }
    .description{
        font-size: 13px;
    }
}

.see_more{
    // border: 2px solid red;
    margin-top: 0.7rem;
    display: flex;
    justify-content: flex-end;
    >a{
        color: rgb(51, 187, 207);
        &:hover{
            text-decoration: underline;
        }
    }
}