.hero {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1250px) {
        flex-direction: column;
        align-items: center;
        row-gap: 3rem;
    }
}

.hero_left {
    width: 45%;
    display: flex;
    flex-direction: column;

    .title {
        font-weight: 500;
    }

    .desc {
        color: var(--text);
        margin-top: 2rem;
    }

    .hero_left_btns {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 3rem 0;
    }

    .outiline_btn {
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.9);
        color: var(--text);
        cursor: pointer;
    }

    .gradient_line {
        width: 90%;
        height: 1px;
        background: linear-gradient(to right, var(--primary-color), var(--transparent-white));
    }

    @media (max-width: 1250px) {
        width: 60%;
        padding-right: 0;

        .title {
            text-align: center;
        }

        .desc {
            text-align: center;
        }

        .hero_left_btns {
            justify-content: center;
        }

        .gradient_line {
            width: 60%;
            margin: 0 auto;
        }
    }

    @media (max-width: 850px) {
        width: 70%;
    }

    @media (max-width: 750px) {
        width: 80%;
    }
    @media (max-width: 550px) {
        width: 90%;
    }

    @media (max-width: 500px) {
        width: 100%;
        .desc br {
            display: none;
        }

        .gradient_line {
            width: 80%;
        }
    }
}

.hero_right {
    width: 42%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (max-width: 1250px) {
        width: 60%;
    }

    @media (max-width: 850px) {
        width: 70%;
    }
    @media (max-width: 750px) {
        width: 80%;
    }
    @media (max-width: 550px) {
        width: 90%;
    }
    @media (max-width: 500px) {
        width: 100%;
    }
}


.row1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.card {
    border-radius: var(--radius-md);
    cursor: pointer;
    position: relative;
    border: 2px solid transparent;
    transition: border-color 0.8s ease;
    overflow: hidden;

    &:hover {
        border-color: var(--primary-color);
    }
}

.card1 {
    grid-column: span 3;
    padding-top: calc(185 / 222 * 100%);
}

.card2 {
    grid-column: span 2;
    padding-top: calc(185 / 136 * 100%);
}

.row2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2.5rem;
}

.card3 {
    grid-column: span 6;
    padding-top: calc(175 / 258 * 100%);

    .card_content{
        width: 100%;
        height: 100%;
        .card_img_container{
            width: 100%;
            height: 100%;
        }
    }
}

.card_content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .card_img_container {
        width: 100%;
        height: 100%;
    }

    .card_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--radius-md)
    }
}

.card4 {
    grid-column: span 2;
    border-radius: var(--radius-md) !important;

    .explore_more_btn {
        width: 100%;
        height: 100%;
        background: #32323B;
        font-family: League-Gothic;
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        border-radius: var(--radius-md);
        line-height: 1.5;
    }
}

@media (max-width: 600px) {

    .hero_right,
    .row1,
    .row2 {
        gap: 1rem;
    }
}

@media (max-width: 500px) {
    .card3 {
        grid-column: span 5;
    }

    .card4 {
        grid-column: span 3;
    }
}

@media (max-width: 400px) {
    .card4 {
        .explore_more_btn {
            font-size: 20px;
        }
    }
}

@media (max-width: 300px) {
    .card4 {
        .explore_more_btn {
            font-size: 16px;
        }
    }
}

.card_text {
    // display: none;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // padding: 2rem 1rem;
    padding: 1rem;
    border-radius: var(--radius-md);
    background: rgba(0, 0, 0, 0.3);
    // border: 2px solid red;

    .card_title {
        font-weight: 400;
        font-family: League-Gothic;
        color: var(--white);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }

    .card_caption {
        font-size: 14px;
        // color: #BCC0BC;
        color: #dddfdd;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }

    @media (max-width: 800px) {
        padding: 1rem;
    }

    @media (max-width: 550px) {
        .card_caption {
            margin-top: 0;
            font-size: 12px;
        }
    }

    @media (max-width: 460px) {
        padding: 0.5rem;

        .card_title {
            font-size: 1.25rem;
        }
    }

    @media (max-width: 400px) {
        .card_caption {
            font-size: 10px;
        }
    }

    @media (max-width: 340px) {
        // padding-top: 0.2rem;

        .card_title {
            font-size: 1rem;
        }

        .card_caption {
            font-size: 8px;
        }
    }
}