.form {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >h3 {
        font-weight: 400;
        font-family: League-Gothic;
    }

    >button {
        border: none;
        outline: none;
        background-image: linear-gradient(to bottom, #33BBCF 0.93%, var(--transparent-white) 337.74%);
        width: 90px;
        height: 30px;
        font-weight: 600;
        font-size: 14px;
        color: var(--white);
        border-radius: 4px;
        cursor: pointer;
    }

    >button.submit_btn {
        background: linear-gradient(178.91deg, #33CF84 0.93%, var(--transparent-white) 337.74%);

        &:disabled {
            opacity: 0.5;
        }
    }
}

.form_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 8rem;
    row-gap: 4rem;

    @media (max-width: 900px) {
        gap: 4rem;
    }

    @media (max-width: 700px) {
        gap: 3rem;
    }

    @media (max-width: 600px) {
        gap: 2rem;
    }
}

.cutom_input {
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.56);
    border-radius: var(--radius-sm);
    outline: var(--primary-color2);
    padding: 1rem;
    color: var(--white);
    font-size: 14px;

    &::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    &:focus {
        border: 1px solid var(--primary-color2);
    }
}

.cutom_phone_input {
    border-radius: var(--radius-sm);
    width: 100%;
    height: 50px;

    >div {
        height: 100% !important;

        >button {
            height: 100% !important;
            background: transparent !important;
            border: 1px solid rgba(255, 255, 255, 0.56) !important;
            border-right: none !important;
            border-top-left-radius: var(--radius-sm) !important;
            border-bottom-left-radius: var(--radius-sm) !important;
            width: 60px !important;
        }

        >ul {
            max-width: 180px;
            overflow: hidden;
            background-color: #272727 !important;
            border: 1px solid rgba(255, 255, 255, 0.219) !important;
            box-shadow: none !important;
            border-radius: var(--radius-sm);
            margin-top: 7px;

            >li {
                color: var(--text) !important;
                border-bottom: 1px solid rgba(255, 255, 255, 0.199);
            }
        }
    }

    >input {
        width: 100%;
        height: 100% !important;
        background: transparent !important;
        color: var(--white) !important;
        font-size: 14px !important;
        border: 1px solid rgba(255, 255, 255, 0.56) !important;
        border-top-right-radius: var(--radius-sm) !important;
        border-bottom-right-radius: var(--radius-sm) !important;
        outline: none !important;

        &::placeholder {
            color: rgba(255, 255, 255, 0.5) !important;
        }

        &:focus {
            border: 1px solid var(--primary-color2) !important;
        }
    }
}

.countrySelectorStyleProps {
    border: 4px solid red !important;
}

.cutom_input.cutom_textarea {
    height: 200px;
}

.error {
    color: red;
    margin-top: 5px;
    padding-left: 5px;
}

.form_grid.contact_details_grid {
    >div {
        grid-column: span 3;
    }

    @media (max-width: 450px) {
        >div {
            grid-column: span 6;
        }
    }
}

.form_grid.vehicle_information_grid {

    >:nth-child(1),
    :nth-child(2),
    :nth-child(3) {
        grid-column: span 2;
    }

    >:nth-child(4),
    :nth-child(5) {
        grid-column: span 3;
    }

    @media (max-width: 1100px) {

        >:nth-child(1),
        :nth-child(2),
        :nth-child(3) {
            grid-column: span 3;
        }
    }

    @media (max-width: 450px) {

        >:nth-child(1),
        :nth-child(2),
        :nth-child(3),
        :nth-child(4),
        :nth-child(5) {
            grid-column: span 6;
        }
    }
}

.services_container {
    display: flex;
    flex-direction: column;
}

.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    max-width: 65rem;
    width: 65rem;
    margin: 0 auto;
    margin-bottom: 1rem;

    .service {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: fit-content;
        cursor: pointer !important;
    }

    @media (max-width: 1200px) {
        width: 100%;
    }

    @media (max-width: 900px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 400px) {
        gap: 2rem;

        .service {
            gap: 0.5rem;
        }
    }

    @media (max-width: 450px) {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}

.checkbox_input {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    appearance: none;
    // border: 5px solid red; 
    background: rgba(217, 217, 217, 1);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.checkbox_input:checked {
    background: var(--primary-color);
    border: 3px solid var(--primary-color2);
}

.custom_label {
    color: var(--white);
    font-size: 14px;
}

.custom_label.service_lable {
    color: var(--white);
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

@media (max-width: 400px) {
    .custom_label.service_lable {
        font-size: 12px;
    }

    .radio_input {
        width: 15px;
        height: 15px;
    }
}

.input_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 2rem;

    >label {
        padding-left: 5px;
    }
}

.tooltip {
    position: relative;
    width: 105px;
    max-width: 200px;
    min-width: 120px;
    padding: 0 !important;
    border-radius: var(--radius-md) !important;
    opacity: 1;
    pointer-events: auto !important;
    animation: fadeIn 0.5s forwards;

    @media (max-width: 700px) {
        pointer-events: none !important;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        border: 1px solid transparent;
        max-width: 190px;
    }

    to {
        opacity: 1;
        border: 1px solid var(--primary-color);
        max-width: 200px;
    }
}

.tooltip_content {
    background: rgba(20, 20, 34, 1);
    position: relative;
    padding: 10px;
    padding-top: 5px;
    padding-right: 5px;
    overflow: hidden;
    border-radius: var(--radius-md);
    opacity: 1 !important;

    .ellipse {
        width: 50%;
        height: 40px;
        background: rgba(84, 214, 255, 1);
        position: absolute;
        top: 0;
        right: 0;
        filter: blur(2rem);
        opacity: 1 !important;
    }

    .close_icon {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 20;
        border: 2px solid red;
    }
}

.tooltip_title {
    font-family: League-Gothic;
    font-size: 1.5rem;
    font-weight: 500;
}

.tooltip_desc {
    >p {
        font-size: 10px;
        color: rgba(255, 255, 255, 0.74);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
}

.file_input {
    border: 1px solid rgba(255, 255, 255, 0.56);
    border-radius: var(--radius-sm);
    width: fit-content;
    height: 50px;
}

.images {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 10px;

    .image {
        width: 80px;
        height: 80px;
        border-radius: 5px;
        box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.4);
        position: relative;

        .delete_icon {
            width: 22px;
            height: 22px;
            position: absolute;
            top: 2px;
            right: 2px;
            background: var(--text);
            // padding: 5px;
            border-radius: 100%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background: rgba(255, 255, 255, 0.644);
            }
        }

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }
}

.success_wrapper {
    max-width: 40rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    row-gap: 1rem;
    flex-wrap: wrap;

    .thanks_heading {
        font-weight: 400;
        font-family: League-Gothic;
    }

    @media (max-width: 700px) {
        margin-top: 1rem;
        margin-bottom: 1rem;

        .tick_icon>img {
            width: 110px;
            height: 110px;
        }
    }
}