.details_wrapper {
    margin-top: 3rem;
    display: flex;
    gap: 3rem;
}

.details_left {
    width: 40%;
}

.company_info {
    >p {
        color: var(--text);
        margin-bottom: 1rem;
    }
}

.details_right {
    width: 60%;
}

@media (max-width: 700px) {
    .details_wrapper {
        flex-direction: column;
    }

    .details_left,
    .details_right {
        width: 100%;
    }
}

.heading {
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--white);
}